@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
    background-color: lightpink
}
.wrapper {
    justify-content: center;
    border-style: solid;
   /*  display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: '. t .'
                         '. d .'
                         '. b .'; */
    
    
}

#startbutton {
    font-size: 40px;
    border-radius: 50px;
    font-family: "Indie Flower";
    color: yellow;
    background-color:deeppink;
    border-color: white;
    padding: 20px;
    padding-bottom: 15px;
    height: 100px;
    width: 200px

}

#startbutton:hover {
    background-color: black;

}

#player1 {
    font-family: "Indie Flower";
    font-size: 50px;
    margin-left: 830px;
    margin-top: 150px;
}

#score {
    text-align: center;
    color: yellow;
    font-family: "Indie Flower";
    font-size: 50px;
    position: absolute

}

#dice1 {
    margin-left: 850px;
    margin-top: 460px;
    
}

#startbutton {
    position: absolute;
    margin-left: 850px;
    margin-top: 800px;
}











